{% load static%}

<h1>{{course}} with {{course.teacher.user.username}}</h1>
<p>{{course.description}}</p>
<h3>Classroom: {{course.zoom}}</h3>
<h3>Assignments</h3>
<ul>
  {% for assignment in course.assignments.all %}
  <li>
    <p>
      Assignment:
      <a href="{% url 'landing_page':course.slug%}">{{course.name}}</a>
    </p>
  </li>
  {% endfor %}
</ul>
<h3>Students</h3>
<ul>
  {% for student in course.students.all %}
  <li>{{student}}</li>
  {% endfor %}
  <a href="{% url 'landing_page:index' %}">Go home</a>
</ul>
