{% extends 'base.html' %} {% load static%} {% block content %}
<h1>{{course}} with {{course.teacher.user.first_name}}</h1>
<p>{{course.description}}</p>
<a href="{{course.zoom}}"><h3>Classroom</h3></a>
<h3>Assignments:</h3>
<ul>
  {% for assignment in course.assignments.all %}
  <li>
    <a href="{% url 'landing_page:assignment-detail' assignment.slug %}"
      >{{assignment.name}}</a
    >
  </li>
  {% endfor %}
</ul>
<h3>Students:</h3>
<ul>
  {% for student in course.students.all %}
  <li>{{student.user.first_name}}</li>
  {% endfor %}
  <a href="{% url 'landing_page:index' %}">Go Home</a>
  <a href="{% url 'landing_page:delete-course' course.slug %}">Delete Course</a>
  <a href="{% url 'landing_page:edit-course' course.slug %}">Edit Course</a>
</ul>
{% endblock %}
