{% extends 'base.html' %} {% load static%} {% block content %}
<div class="container d-flex justify-content-center" style="padding-top: 5%;">
  <div class="card mb-4 shadow-sm" style="width: 50rem;">
    <h1 style="text-align: center;">
      {{course}} with {{course.teacher.user.first_name}}
    </h1>
    <a style="text-align: center;" href="{{course.zoom}}"><h3>Classroom</h3></a>
    <p style="text-align: center;">{{course.description}}</p>
    <div class="container d-flex justify-content-around">
      <div class="column">
        <h3>Assignments:</h3>
        <ul>
          {% for assignment in course.assignments.all %}
          <li>
            <a href="{% url 'landing_page:assignment-detail' assignment.slug %}"
              >{{assignment.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column">
        <h3>Students:</h3>
        <ul>
          {% for student in course.students.all %}
          <li>{{student.user.first_name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr />

    <div class="container d-flex justify-content-around">
      <a href="{% url 'landing_page:delete-course' course.slug %}"
        >Delete Course</a
      >
      <a href="{% url 'landing_page:edit-course' course.slug %}">Edit Course</a>
    </div>
  </div>
</div>
{% endblock %}
