{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="album py-5">
  <div class="container-fluid">
    <div class="row">
      {% for course in courses %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <h1 style="text-align: center;">
            <a ≈ href="{% url 'landing_page:detail' course.slug%}"
              >{{course.name}}</a
            >
          </h1>
          <div class="card-body">
            <div class="card-text" style="text-align: center;">
              <p>Description: {{course.description}}</p>
              <p>
                Teacher: {{course.teacher.user.first_name}}
                {{course.teacher.user.last_name}}
              </p>
              <p>Classroom: <a href="{{course.zoom}}">{{course.zoom}}</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}<a href="{%url 'login'%}?next={{request.path}}">Login</a>

{% endif %} {% endblock %}
